<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&family=Roboto+Condensed&display=swap" rel="stylesheet">
    <style>
        body{
            background-color: #35596a;
            font-family: Roboto Condensed;
        }

        .back-text {
            display: flex;
            justify-content: center;
            margin-bottom: 12px;
            margin-top: 12px;
            color: #fff;
        }

        .conteiner{
            display: flex;
            justify-content: center;
            height: 290px;
        }
        .client-id{
            background-color: #f8efed;
            border-radius: 10px;
            width: 650px;
            padding: 2%;
        }
        .client-id h2 {
            font-size: 30px;
        }
        .client-id h4{
            font-size: 20px;
        }
    </style>
</head>
</head>
<body>
    <div class="back-text">
        <h2>Consulta</h2>
    </div>

    <div class="conteiner">
        <div class="client-id">
            <h2>Consulta: <%= appo.description %></h2>
            <hr>
            <h4>Name: <%= appo.name %> </h4>
            <h4>Email: <%= appo.email %> </h4>
            <h4>CPF: <%= appo.cpf %> </h4>
            <hr>
            <% if(!appo.finished) { %>
                <form action="/finish" method="post">
                    <input type="hidden" name="id" value="<%= appo._id %>">
                    <button class="btn btn-primary form-control">Finalizar Consulta</button>
                </form>
                
            <% } %>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>

<!-- <h1>Consulta: <%= appo.description %></h1>
<hr>
<h4>Name: <%= appo.name %> </h4>
<h4>Email: <%= appo.email %> </h4>
<h4>CPF: <%= appo.cpf %> </h4>
<hr>
<% if(!appo.finished) { %>
    <button>Finalizar Consulta</button>
<% } %> -->
